/* general */
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Nunito:wght@300;400;600;700;800;900&display=swap');

body {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    line-height: 22px;
    overflow-x: hidden;
}

a:focus,
button:focus {
    outline: none !important;
}

/* general END*/

/* HEADER */
header.header {
    height: 96px;
    background-image: url('../img/green-bg.png');
    background-repeat: repeat;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 7;
    box-shadow: 0 0 10px #283e39;
}

.header__wrap {
    display: flex;
    height: 100%;
}

.header__logo {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #283E39;
}

.header__nav {
    width: calc(100% - 300px);
    padding: 0 60px;
}

.header__phone {
    width: 300px;
    background: #C79C42;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__phone a {
    text-decoration: none;
    transition: .3s;
    color: #122223;
    padding-left: 23px;
    position: relative;
    transition: .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.header__phone a svg {
    margin-right: 5px;
}

.header__phone a:hover {
    color: #fff;
}

.header__phone a svg path {
    transition: .3s;
}

.header__phone a:hover svg path {
    fill: #fff;
}

.header__nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.header__nav ul li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 40px;
}

.akcii-icon {
    display: inline-block;
    margin-top: -3px;
}

.akcii-icon {
    transition: .3s;
}

.header__nav ul li:last-child {
    margin-right: 0;
}

.header__nav ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #C79C42;
    transition: .3s;
}

.header__nav ul li.active a,
.header__nav ul li a:hover {
    color: #fff;
}

.header__language {
    position: relative;
}

.header__language>span {
    color: #FFFFFF;
    text-transform: uppercase;
    position: relative;
    padding-right: 25px;
    cursor: pointer;
}

.header__language>span:after {
    content: '';
    width: 15px;
    height: 15px;
    background-image: url('../img/icons/lang-arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    position: absolute;
    right: 0;
    top: 3px;
    transition: .3s;
}

.header__language>span.rotatearr:after {
    transform: rotate(-180deg);
}


.header__language ul {
    padding: 5px 5px 5px 10px;
    margin: 0;
    list-style-type: none;
    position: absolute;
    top: 58px;
    background-image: url(../img/green-bg.png);
    background-repeat: repeat;
    width: calc(100% + 20px);
    left: -10px;
    display: none;
}

.header__language ul li {
    margin-bottom: 5px;
}

.header__language ul li:last-child {
    margin-bottom: 0;
}






/* HEADER - END*/

/* MAIN */

main {
    padding-top: 96px;
}

.mainscreen {
    height: 1220px;
    position: relative;
}

.visitslider .slick-arrow {
    position: absolute;
    z-index: 2;
    top: 360px;
    width: 71px;
    height: 25px;
    background-color: transparent;
    border: none;
    outline: none;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.visitslider .slick-arrow.slick-prev {
    left: 114px;
    background-image: url('../img/icons/arrow-left.svg');
}

.visitslider .slick-arrow.slick-next {
    right: 114px;
    background-image: url('../img/icons/arrow-right.svg');
}

.visitslider .mainslider__slide {
    height: 1220px
}

.visitslider .mainslider__slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.slick-slide {
    outline: none;
}

.mainscreen__textsect {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 300px;
    max-width: 660px;
    width: 100%;
}

.mainscreen__textsect h1 {
    margin-bottom: 12px;
    font-family: 'Lora', serif;
    font-size: 66px;
    line-height: 84px;
    text-align: center;
    color: #DBB971;
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    font-weight: normal;
}

.mainscreen__textsect p {
    margin: 0;
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.25);
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    line-height: 30px;
}



.section-title {
    font-family: 'Lora', serif;
    font-weight: 500;
    font-size: 38px;
    line-height: 150%;
    color: #fff;
    max-width: 310px;
}

.section-infosect .descr {
    margin-bottom: 50px;
}

.section-infosect .descr p {
    color: #C8C8C8;
}

.section-infosect .descr p:last-child {
    margin-bottom: 0;
}

.custombtn {
    display: inline-block;
    width: 222px;
    height: 57px;
    text-transform: uppercase;
    color: #C79C42;
    text-decoration: none;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
    margin-left: 6px;
}

.custombtn:after,
.custombtn:before {
    content: '';
    display: inline-block;
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    border: 1px solid #C79C42;
    position: absolute;
    transition: .3s;

}

.custombtn:after {
    left: 0;
    top: -6px;
}

.custombtn:before {
    left: -6px;
    top: 0;
}



.custombtn:hover {
    background-color: rgb(199, 156, 66);
    text-decoration: none;
    color: #283E39;
    animation: pulse1 2s infinite;
    -webkit-animation: pulse1 2s infinite;
}

@-webkit-keyframes pulse1 {

    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(199, 156, 66, .5);
    }

    70% {
        -webkit-box-shadow: 0 0 0 20px rgba(199, 156, 66, 0);
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(199, 156, 66, .5);
    }
}

@keyframes pulse1 {
    0% {
        -webkit-box-shadow: 0 0 0 0 rgba(199, 156, 66, .5);
    }

    70% {
        -webkit-box-shadow: 0 0 0 20px rgba(199, 156, 66, 0);
    }

    100% {
        -webkit-box-shadow: 0 0 0 0 rgba(199, 156, 66, .5);
    }
}

.genslider {
    position: relative;
    margin-top: 77px;
}

.genslider .mainslider {
    padding-top: 70px;
    position: relative;
}

.genslider .mainslider:after {
    content: '';
    display: inline-block;
    width: 270px;
    height: 70px;
    position: absolute;
    right: 0;
    top: 0;
    background: #283E39;
}

.genslider .mainslider .slick-arrow {
    position: absolute;
    z-index: 2;
    background-repeat: no-repeat;
    width: 135px;
    height: 70px;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
    background-size: 38px 14px;
    transition: .3s;
}

.genslider .mainslider .slick-prev.slick-arrow {
    right: 135px;
    top: 0;
    background-image: url(../img/icons/arrow-left.svg);
    background-position: center right 25px;

}

.genslider .mainslider .slick-prev.slick-arrow:hover {
    background-position: center right 30px;
}

.genslider .mainslider .slick-next.slick-arrow:hover {
    background-position: center left 30px;
}

.genslider .mainslider .slick-next.slick-arrow {
    right: 0;
    top: 0;
    background-image: url(../img/icons/arrow-right.svg);
    background-position: center left 25px;
}

.genslider .pagingInfo {
    font-family: 'Karla', sans-serif;
    color: #D3AB75;
    position: absolute;
    left: 0;
    top: 0;
    height: 70px;
    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 21px;
    padding-left: 42px;
}

.genslider .pagingInfo:after {
    content: '';
    display: inline-block;
    width: 26px;
    height: 1px;
    background: #D3AB75;
    position: absolute;
    left: 0;
    top: 50%;
}

.genslider .celebrname {
    position: absolute;
    z-index: 2;
    left: 12%;
    width: calc(100% - 470px);
    top: 0;
}

.celebrity-luxury .spaceleft-container {
    padding-top: 95px;
    background-image: url(../img/green-bg.png);
}

.celebrity-luxury {
    position: relative;
    z-index: 2;
    margin-top: -459px;
}

.mousescroll {
    display: inline-block;
    position: absolute;
    left: 50%;
    margin-left: -10px;
    bottom: 480px;
}

.mousescroll line {
    animation: mouse;
    -webkit-animation: mouse;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

@keyframes mouse {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0);
    }
}


.akcii {
    background: #F6F5F0;
    padding: 250px 0;
    margin-top: -70px;
    overflow: hidden;
}

.section-subtitle {
    position: relative;
    margin: 0 0 70px 0;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #C79C42;
    font-size: 14px;
    line-height: 19px;
    padding-left: 50px;
}

.section-subtitle:before {
    content: '';
    display: inline-block;
    height: 1px;
    width: 25px;
    background: #C79C42;
    position: absolute;
    left: 0;
    top: 50%;
}

.section-title.black {
    color: #283E39;
}

.akcii .section-title {
    margin-bottom: 32px;
}

.sectleft-descr {
    margin-bottom: 100px;
    max-width: 310px;
}

.sectleft-descr p {
    color: #777777;
}

.sectleft-descr p:last-child {
    margin-bottom: 0;
}

.akcii .custombtn {
    width: 300px;
}

.frame ul {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: -15px;
    margin-right: -15px;
}

.frame ul li {
    float: left;
    width: 338px;
    padding: 0 15px;
}

/* Scrollbar */
.scrollbar {
    margin: 0 0 60px 0;
    height: 2px;
    background: #777777;
    line-height: 0;
    width: 860px;
}

.scrollbar .handle {
    width: 100px;
    background: #E1AE86;
    cursor: pointer;
    height: 4px;
    top: -1px;
    position: relative;
}

.scrollbar .handle .mousearea {
    position: absolute;
    top: -9px;
    left: 0;
    width: 100%;
    height: 20px;
}

.akcii .row {
    flex-wrap: nowrap;
}

.scrslidebox .picbox {
    position: relative;
    height: 321px;
    overflow: hidden;
}

.scrslidebox .picbox img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.scrslidebox .picbox:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(51, 51, 51, 0.4);
}

.akcii__date {
    position: absolute;
    left: 25px;
    top: 20px;
    font-family: 'Lora', serif;
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
    z-index: 2;
    width: 70px;
}

.akcii__date span {
    font-family: 'Lora', serif;
    font-weight: 500;
    font-size: 30px;
    line-height: normal;
    text-transform: uppercase;
    color: #C79C42;
    display: block;
}

.scrslidebox .textbox {
    background-image: url('../img/green-bg.png');
    height: 123px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scrslidebox .textbox p {
    margin: 0;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    font-family: 'Lora', serif;
    color: #C79C42;
    text-align: center;
}


.scrslidebox .back {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/green-bg.png');
    background-repeat: repeat;
    padding: 20px 25px 40px 25px;
    z-index: 2;
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.scrslidebox:hover .back {
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
}

.scrslidebox {
    position: relative;
}

.scrslidebox .back .akcii__date {
    position: relative;
    left: 0;
    top: 0;
    margin-bottom: 65px;
}

.scrslidebox .back .title {
    text-align: center;
    text-transform: uppercase;
    color: #C79C42;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    font-family: 'Lora', serif;
    margin-bottom: 24px;
    height: 54px;
    overflow: hidden;
}

.scrslidebox .back .descr {
    height: 120px;
    overflow: hidden;
    margin-bottom: 20px;
}

.scrslidebox .back .descr p {
    color: #C8C8C8;
    text-align: center;
}

.scrslidebox .back .descr p:last-child {
    margin-bottom: 0;
}

.scrslidebox .back a {
    text-transform: uppercase;
    display: inline-block;
    color: #C79C42;
    position: relative;
}

.scrslidebox .back a:hover {
    text-decoration: none;
}

.scrslidebox .back a:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 1px;
    background: #C79C42;
    bottom: -3px;
    position: absolute;
    left: 0;
    opacity: 1;
    transition: .3s;
}

.scrslidebox .back a:hover:after {
    opacity: 0;
}

.akcii .col-lg-11 .scroll-slider .frame {
    /* padding-right: 100px; */
}

.genslsect {
    position: relative;
    z-index: 2;
}

.genslsect-container {
    padding-top: 95px;
    background-image: url(../img/green-bg.png);
}

.mtmin70 {
    margin-top: -70px;
}

.ourcenters {
    padding: 167px 0 130px 0;
    background: #F6F5F0;
    margin-top: -70px;
}

.ourcenters .subtitle,
.ournews .subtitle {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 70px;
    color: #C79C42;
    font-size: 14px;
    line-height: 19px;
}

.ourcenters .subtitle span,
.ournews .subtitle span {
    padding-left: 50px;
    position: relative;
}

.ourcenters .subtitle span:after,
.ournews .subtitle span:after {
    content: '';
    display: inline-block;
    height: 1px;
    width: 25px;
    background: #C79C42;
    position: absolute;
    left: 0;
    top: 50%;
}

.ourcenters .title,
.ournews .title {
    margin-bottom: 32px;
    text-align: center;
    font-family: 'Lora', serif;
    font-weight: 500;
    font-size: 38px;
    line-height: 150%;
    color: #283E39;
}

.ourcenters .descr,
.ournews .descr {
    margin-bottom: 100px;
    text-align: center;
}

.ourcenters .descr p,
.ournews .descr p {
    color: #777777;
}

.ourcenters .descr p:last-child,
.ournews .descr p:last-child {
    margin-bottom: 0;
}

.slider-centermode__slide {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.slider-centermode__slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.slider-centermode__slide .picbox {
    width: 810px;
    height: 500px;
    position: absolute;
    z-index: 2;
    right: 0;
    top: 0;
    transition: .5s;
}

.slider-centermode__slide .textbox {
    position: absolute;
    z-index: 1;
    background-image: url('../img/green-bg.png');
    width: 810px;
    height: 604px;
    left: 0;
    bottom: 0;
    transition: .5s;
}

.slcont {
    width: 870px;
    height: 666px;
    margin: 0 auto;
    position: relative;
}

.textbox__cont {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    padding: 0 60px 10px;
}

.textbox__cont .address {
    width: calc(100% - 228px);
}

.textbox__cont a {
    width: 228px;
}

.textbox__cont .address .name {
    font-family: 'Lora', serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 150%;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.textbox__cont .address .addr {
    font-size: 18px;
    line-height: 150%;
    color: #C8C8C8;
    position: relative;
    padding-left: 30px;
}

.textbox__cont .address .addr:before {
    content: '';
    display: inline-block;
    width: 14px;
    height: 18px;
    background-image: url('../img/icons/location-icon.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    position: absolute;
    left: 0;
    top: 3px;
}

.slider-centermode .slick-slide .textbox,
.slider-centermode .slick-slide[aria-hidden="true"]:not(.slick-cloned)~.slick-cloned[aria-hidden="true"] .textbox {
    opacity: 0;
}

.slider-centermode .slick-center .textbox,
.slider-centermode .slick-slide[aria-hidden="true"]:not([tabindex="-1"])+.slick-cloned[aria-hidden="true"] .textbox {
    opacity: 1;

}

.slider-centermode .slick-slide .slcont .picbox,
.slider-centermode .slick-slide[aria-hidden="true"]:not(.slick-cloned)~.slick-cloned[aria-hidden="true"] .slcont .picbox {
    width: 100%;
}

.slider-centermode .slick-center .slcont .picbox,
.slider-centermode .slick-slide[aria-hidden="true"]:not([tabindex="-1"])+.slick-cloned[aria-hidden="true"] .slcont .picbox {
    width: 810px;
}

.slider-centermode .slick-slide,
.slider-centermode .slick-slide[aria-hidden="true"]:not(.slick-cloned)~.slick-cloned[aria-hidden="true"] {
    transform: scale(0.7);
    transition: transform 0.3s;
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
}

.slider-centermode .slick-center,
.slider-centermode .slick-slide[aria-hidden="true"]:not([tabindex="-1"])+.slick-cloned[aria-hidden="true"] {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);

}

.ourcenters .slick-arrow {
    width: 45px;
    height: 24px;
    outline: none;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 38px 14px;
    padding: 0;
    position: absolute;
    top: 50%;
    margin-top: -12px;
}

.ourcenters .slick-arrow.slick-prev {
    background-image: url('../img/icons/arrow-left.svg');
    left: 15%;
}

.ourcenters .slick-arrow.slick-next {
    background-image: url('../img/icons/arrow-right.svg');
    right: 15%;
}

.reviews {
    padding: 160px 0;
    overflow: hidden;
}

.reviews .section-title {
    margin-bottom: 32px;
}

.reviews .row {
    flex-wrap: nowrap;
}

.reviews .review-box {
    position: relative;
    background: #F6F5F0;
    padding: 40px 30px;
}

.reviews .review-box .quotepic {
    margin-bottom: 30px;
}

.reviews .review-text {
    overflow: hidden;
    height: 210px;
    margin-bottom: 16px;
}

.reviews .review-text p {
    font-size: 20px;
    line-height: 27px;
    font-style: italic;
    color: #283E39;
}

.review-userbox .review-userbox__pic {
    height: 54px;
    border-radius: 50%;
    overflow: hidden;
    max-width: 54px;
    width: 100%;
}


.review-userbox__descr .name {
    margin-bottom: 4px;
    font-size: 16px;
    line-height: 22px;
    color: #777777;
}

.review-userbox__descr .rate {
    display: flex;
}

.review-userbox__descr .rate span {
    display: flex;
    margin-right: 6px;
}

.review-userbox__descr .rate span:last-child {
    margin-right: 0;
}

.reviews .col-lg-11 {
    padding-right: 50px;
}

.ournews {
    padding: 122px 0 280px 0;
    background: #F6F5F0;
}

.ournews .scrslidebox .picbox {
    height: 288px;
}

.ournews .scrslidebox .textbox {
    height: 100px;
}

.ournews .scrslidebox .back {
    padding: 22px 30px 60px 30px;
}

.ournews .scrslidebox .back .akcii__date {
    margin-bottom: 30px;
}

.ournews .scrslidebox .back .title {
    margin-bottom: 1px;
}

.ournews .scrslidebox .back .descr {
    max-width: 250px;
    margin: 0 auto;
}

.ournews .ournews-slider__slide {
    padding: 0 15px;
}

.slider-section .genslider {
    margin-top: 0;
}

.contacts-section {
    padding: 80px 0;
    background: #283E39;
}

.contacts-section .title {
    text-align: center;
    font-weight: 500;
    font-size: 38px;
    line-height: 150%;
    color: #FFFFFF;
    font-family: 'Lora', serif;
    margin-bottom: 85px;
}

.contacts-section form {
    max-width: 984px;
    width: 100%;
    margin: 0 auto;
}

.contacts-section input {
    width: 100%;
    outline: none;
    background: transparent;
    height: 58px;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    color: #fff;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    margin-bottom: 64px;
}

.contacts-section textarea {
    width: 100%;
    outline: none;
    background: transparent;
    height: 58px;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
    color: #fff;
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    resize: none;
    padding-top: 22px;
    margin-bottom: 59px;
}

.contacts-section textarea::placeholder,
.contacts-section input::placeholder {
    color: rgba(255, 255, 255, 0.7);
}

.contacts-section button {
    background: transparent;
    border: none;
    padding: 0;
    margin: 0 auto;
}

/* MAIN - END*/


/* FOOTER */
footer.footer {

    background-image: url('../img/green-bg.png');
}

.footer-wrapper {
    display: flex;
    align-items: center;
    padding: 95px 72px 90px;
    justify-content: space-between;
}

.footer__nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


.footer__nav ul li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 35px;
}

.footer__nav ul li:last-child {
    margin-right: 0;
}

.footer__nav ul li a {
    text-transform: uppercase;
    color: #C79C42;
    transition: .3s;
}

.footer__nav ul li.active a,
.footer__nav ul li a:hover {
    color: #fff;
    text-decoration: none;
}

.akcii-icon path {
    transition: .3s;
}

a:hover .akcii-icon path {
    fill: #fff;
    stroke: #fff;
}

.footer__logo {
    max-width: 156px;
    width: 100%;
}

.footer__social {
    max-width: 181px;
    width: 100%;
}

.footer__up {
    max-width: 69px;
    width: 100%;
}

.footer__up a {
    width: 100%;

}

.footer__social .phone {
    display: inline-block;
    position: relative;
    color: #C79C42;
    transition: .3s;
    margin-bottom: 38px;
}

.footer__social .phone:hover {
    text-decoration: none;
    color: #fff;
}

.footer__social .phone svg {
    margin-top: -2px;
    display: inline-block;
    margin-right: 5px;
}

.footer__social .phone svg path {
    transition: .3s;
}

.footer__social .phone:hover svg path {
    fill: #fff;
}

.footer__social ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__social ul li a svg path {
    transition: .3s;
}

.footer__social ul li a:hover svg path {
    fill: #fff;
}

.footer__up a {
    display: flex;
    width: 60px;
    height: 60px;
}

.footer__up a:hover svg path {
    fill: #fff;
    stroke: #fff;
}

/* Preloader */
#splash {
    background-color: #283E39;
    background-repeat: repeat;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    animation: splash 3s ease-in;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    z-index: 200;
    animation-delay: 1s;
}

.picboxpreload {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: loganim 3s ease-out;
    animation-iteration-count: infinite;
}

@keyframes loganim {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(.9);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes splash {
    0% {
        transform: translate(0%, 0%);
        -webkit-transform: translate(0%, 0%);
        -moz-transform: translate(0%, 0%);
        -ms-transform: translate(0%, 0%);
        -o-transform: translate(0%, 0%);
    }

    50% {
        transform: translate(0%, 0%);
        -webkit-transform: translate(0%, 0%);
        -moz-transform: translate(0%, 0%);
        -ms-transform: translate(0%, 0%);
        -o-transform: translate(0%, 0%);
    }

    100% {
        transform: translate(0%, -100%);
        -webkit-transform: translate(0%, -100%);
        -moz-transform: translate(0%, -100%);
        -ms-transform: translate(0%, -100%);
        -o-transform: translate(0%, -100%);
    }
}

.footer .header__language {
    display: inline-block;
    margin-top: 28px;
    margin-left: 40px;
}

.footer .header__language li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #C79C42;
    transition: .3s;
}

.footer .header__language li a:hover {
    color: #fff;
}

.footer .header__language ul {
    top: 28px;
    width: 100%;
}

.footer__botttext {
    height: 58px;
    background: #283E39;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__botttext p {
    margin: 0;
    color: #777777;
}

/* FOOTER - END*/

.header__logo img {
    max-width: 100%;
}

.mainslider__slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.footer__logo img {
    max-width: 100%;
}

.burgerbtn {
    display: none;
}

.mobclose,
.header__language-mob,
.mobmenupic {
    display: none;
}

.ourcenters .slick-arrow {
    z-index: 2;
}

.ournews-slider {
    /* cursor: url('../img/cursor.png'), pointer */
}

.contacts-section {
    background-image: url('../img/contbgpic.png');
    background-repeat: no-repeat;
    background-position: center;
}

.reviewwrite {
    padding-top: 70px;
}

.reviewwrite__topsect .title {
    font-family: 'Lora', serif;
    font-weight: 500;
    font-size: 26px;
    line-height: 150%;
    color: #283E39;
    margin: 0;
    min-height: 57px;
    display: flex;
    align-items: center;
}

.reviewwrite__topsect .custombtn {
    background-color: transparent;
    outline: none;
    border: none;
}

.reviewwrite__topsect .custombtn:hover {
    background-color: rgb(199, 156, 66);
    color: #fff;
}

.reviewwrite__bottsect {
    padding-top: 30px;
    background-image: url('../img/review-bglogo.png');
    background-repeat: no-repeat;
    background-position: center top 70%;
    display: none;
}

.reviews .reviewwrite__bottsect .row {
    flex-wrap: wrap;
}

.reviewwrite__bottsect>p.title {
    color: #777777;
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 110px;
}

.reviewwrite__bottsect form {
    max-width: 984px;
    width: 100%;
    margin: 0 auto;
}

.reviewwrite__bottsect form input,
.reviewwrite__bottsect form textarea {
    width: 100%;
    height: 58px;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(70, 70, 70, 0.7);
    margin-bottom: 50px;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    color: rgba(70, 70, 70, 0.7);
    background: transparent;
}

.reviewwrite__bottsect form textarea {
    padding-top: 18px;
    resize: none;
}

.reviewwrite__bottsect form .custombtn {
    background-color: transparent;
    padding: 0;
    border: none;
    outline: none;
}

.reviewwrite__bottsect form .custombtn:hover {
    color: #fff;
    background-color: rgb(199, 156, 66);
}

.ratebtn {
    display: flex;
    align-items: center;

}

.rateb {
    direction: rtl;
}


.ratebtn p {
    color: rgba(70, 70, 70, 0.7);
    margin: 0;
    width: 120px;
}

.rateb:not(:checked)>input {
    position: absolute;
    visibility: hidden;
}

.rateb:not(:checked)>label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    width: 53px;
    height: 53px;
    background-image: url('../img/icons/star-rating.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 48px 48px;
}

.rateb>input:checked~label {
    background-image: url('../img/icons/star-rating-yellow.svg');

}

.rateb:not(:checked)>label:hover,
.rateb:not(:checked)>label:hover~label {
    background-image: url('../img/icons/star-rating-yellow.svg');
}

.rateb>input:checked+label:hover,
.rateb>input:checked+label:hover~label,
.rateb>input:checked~label:hover,
.rateb>input:checked~label:hover~label,
.rateb>label:hover~input:checked~label {
    background-image: url('../img/icons/star-rating-yellow.svg');
}



/* СЕРВІСИ */

.services {
    padding: 70px 0;
    background: url('../img/servbg1.png'), url('../img/servbg2.png');
    background-repeat: no-repeat, no-repeat;
    background-position: center 320px, 0 800px;
    background-size: auto, 100%;
}

.services-subtitle {
    margin-bottom: 70px;
    letter-spacing: normal;
    text-align: center;
}

.services-subtitle span {
    position: relative;
    padding-left: 50px;
    color: #C79C42;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 19px;
}

.services-subtitle span:before {
    content: '';
    display: inline-block;
    height: 1px;
    width: 25px;
    background: #C79C42;
    position: absolute;
    left: 0;
    top: 50%;
}

.services__title {
    text-align: center;
    margin: 0 0 90px 0;
    color: #283E39;
    font-weight: 500;
    font-size: 38px;
    line-height: 150%;
    font-family: 'Lora', serif;
}

.services__descr {
    max-width: 870px;
    margin: 0 auto 100px;
    text-align: center;
}

.services__descr p {
    color: #777777;
}

.services__descr p:last-child {
    margin-bottom: 0;
}

.servicebox {
    position: relative;
    margin-bottom: 150px;
}

.servicebox__pic {
    width: calc(100% - 44px);
    height: 370px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
    overflow: hidden;
}

.servicebox__pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.servicebox__descr {
    margin-top: 44px;
    background-image: url(../img/green-bg.png);
    width: calc(100% - 44px);
    height: 450px;
    top: 44px;
    position: relative;
    display: flex;
    align-items: flex-end;
    padding: 0 20px 25px 44px;
}

.bottservinfo {
    display: flex;
    align-items: center;
    width: 100%;
}

.bottservinfo .title {
    font-family: 'Lora', serif;
    color: #fff;
    text-transform: uppercase;
    font-size: 22px;
    line-height: 150%;
    font-weight: 500;
    width: calc(100% - 230px);
}

.breadcrumbs {
    padding-top: 70px;
    text-align: center;
    position: relative;
    z-index: 2;
}

.breadcrumbs ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.breadcrumbs ul li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 52px;
    position: relative;
    color: #777777;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
}

.breadcrumbs ul li:last-child {
    margin-right: 0;
}

.breadcrumbs ul li a {
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #C79C42;
}

.breadcrumbs ul li:after {
    content: '/';
    display: inline-block;
    position: absolute;
    right: -30px;
    top: 0;
}

.breadcrumbs ul li:last-child:after {
    display: none;
}

/* PRICE */

.priceboxes {
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
}

.pricebox {
    position: relative;
    width: 498px;
    height: 410px;
    margin-bottom: 60px;
}

.pricebox_pic {
    width: calc(100% - 20px);
    height: calc(100% - 25px);
}

.pricebox_pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.pricebox__descr {
    height: 123px;
    position: absolute;
    right: 0;
    bottom: 0;
    width: calc(100% - 20px);
    background-image: url(../img/green-bg.png);
    display: flex;
    align-items: center;
    padding: 5px 24px 5px 18px;
}

.precebox__btn a {
    width: 100%;
    margin: 0;
}

.precebox__title {
    color: #fff;
    font-weight: 500;
    font-size: 22px;
    line-height: 150%;
    font-family: 'Lora', serif;
    margin: 0;
    width: calc(100% - 180px);
    padding-right: 10px;
    text-transform: uppercase;
}

.precebox__btn {
    width: 180px;
}

.services.price {
    background: url(../img/servbg1.png);
    background-repeat: no-repeat;
    background-position: center 210px;
    background-size: auto, 100%;
}

/* ABOUT US */

.abus-content {
    position: relative;
    z-index: 2;
    padding: 70px 0 110px 0;
}

main.greenbg:after {
    content: '';
    display: block;
    width: 100%;
    height: 470px;
    background-image: url(../img/green-bg.png);
    position: absolute;
    left: 0;
    top: 0;
}

main.greenbg .breadcrumbs ul li,
main.biggreenbg .breadcrumbs ul li {
    color: #D6D6D6;
}

.abus__title {
    color: #fff;
}

.services__title {
    font-family: 'Lora', serif;

}

.videobox {
    height: 694px;
    position: relative;
    margin-bottom: 100px;
}

.videobox video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

#play_button {
    background-color: transparent;
    width: 140px;
    height: 140px;
    border: none;
    outline: none;
    z-index: 2;
    background-image: url('../img/icons/play.svg');
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: 0s;
}

#play_button.pause {
    background-image: url('../img/icons/pause.svg');
    background-size: 23px;
    width: 40px;
    height: 40px;
    transform: none;
    left: 20px;
    bottom: 20px;
    top: initial;
}

.abus-content__descrit {
    max-width: 870px;
    margin-bottom: 70px;
    font-size: 18px;
    line-height: 25px;
    color: #283E39;
    font-style: italic;

}

.abus-content__descrit p:last-child,
.abus-content_descr p:last-child {
    margin-bottom: 0;
}

.abus-content_descr {
    color: #777777;
}

.abadvantages {
    background: #F6F5F0;
    padding: 115px 0 250px;
}

.abadvantages h3 {
    max-width: 310px;
    margin-bottom: 32px;
}

.advantbox {
    display: flex;
    margin-bottom: 85px;
}

.advantbox img {
    width: 100%;
    max-width: 115px;
}

.advantbox__descrbox {
    width: 100%;
    max-width: calc(100% - 115px);
    padding-left: 53px;
}

.advantbox:last-child {
    margin-bottom: 0;
}

.advantbox__descrbox .title {
    font-family: 'Lora', serif;
    margin-bottom: 22px;
    font-size: 26px;
    line-height: 150%;
    color: #283E39;
}

.advantbox__descrbox .descr {
    margin-bottom: 0;
    font-size: 18px;
    line-height: 25px;
    font-style: italic;
    color: #777777;
}


/* DISCOUNT */
.discount {
    padding: 70px 0 100px;
    background-image: url('../img/discountbg.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0 530px;
}

.services__title img {
    margin-left: 10px;
    margin-top: -12px;
}

.discount-boxes .scrslidebox {
    overflow: hidden;
    margin-bottom: 100px;
}

.pagination {
    justify-content: center;
}

.pagination ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.pagination ul li {
    display: inline-block;
    margin: 0 15px;
}

.pagination ul li a {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    line-height: 28px;
    font-family: 'Lora', serif;
    color: #07212F;
}

.pagination ul li.active a {
    border: 1px solid #D3AB75;
    color: #D3AB75;
}

.pagination ul li a:hover {
    text-decoration: none;
    color: #D3AB75;
}

.pagination ul li:first-child {
    margin-right: 70px;
}

.pagination ul li:last-child {
    margin-left: 70px;
}

.pagination ul li.disabled {
    opacity: .3;
    pointer-events: none;
}

.services__descr p.title {
    font-family: 'Lora', serif;
    font-weight: 500;
    font-size: 22px;
    line-height: 28px;
    color: #283E39;
}

.certificates {
    padding: 70px 0 100px;
    position: relative;
}

.certificates h1 {
    margin-bottom: 85px;
}

.certificates .services__descr {
    margin-bottom: 0;
}

.certificates__slide img {
    margin-bottom: 14px;
}


.certificates__slide p {
    margin: 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    font-family: 'Lora', serif;
    color: #283E39;
}

.certificates__slide {
    padding: 0 15px;
}

.certificates__slide img {
    width: 100%;
}

.certificates-slidersect {
    position: relative;
    padding: 0 0 115px 0;
}

.certificates-slidersect .pagingInfo {
    font-family: 'Nunito', sans-serif;
    color: #C79C42;
    position: absolute;
    left: 200px;
    top: 0;
    height: 70px;
    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 25px;
    padding-left: 42px;
}

.certificates-slidersect .pagingInfo:after {
    content: '';
    display: inline-block;
    width: 26px;
    height: 1px;
    background: #D3AB75;
    position: absolute;
    left: 0;
    top: 50%;
}

.certificates-slider:after {
    content: '';
    display: inline-block;
    width: 270px;
    height: 70px;
    position: absolute;
    right: 200px;
    top: 0;
    background: transparent;
    border: 1px solid #C79C42;
}

.certificates-slider {
    padding-top: 115px;
}

.certificates-slider .slick-arrow {
    position: absolute;
    z-index: 2;
    background-repeat: no-repeat;
    width: 135px;
    height: 70px;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
    background-size: 38px 14px;
    transition: .3s;
}

.certificates-slider .slick-next.slick-arrow {
    right: 202px;
    top: 0;
    background-image: url(../img/icons/arrow-right.svg);
    background-position: center left 25px;
}

.certificates-slider .slick-prev.slick-arrow {
    right: 333px;
    top: 0;
    background-image: url(../img/icons/arrow-left.svg);
    background-position: center right 25px;
}

.greypagebg:after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 1070px;
    background: #F6F5F0;
    z-index: -1;
}

.certificate__form.reviewwrite__bottsect {
    display: block;
    padding-bottom: 90px;
}

.certificate__form.reviewwrite__bottsect .title {
    font-family: 'Lora', serif;
    font-weight: 500;
    font-size: 38px;
    line-height: 150%;
    text-align: center;
    color: #283E39;
    margin-bottom: 70px;
}

.certificate__form.reviewwrite__bottsect .jq-selectbox {
    width: 100%;
    height: 58px;
    margin-bottom: 50px;
}

.certificate__form.reviewwrite__bottsect .jq-selectbox__select {
    height: 58px;
    background: transparent;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid rgba(70, 70, 70, 0.7);
    border-radius: 0;
    text-shadow: none;
    color: rgba(70, 70, 70, 0.7);
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    font-family: 'Nunito', sans-serif;
    padding-left: 0;
}

.jq-selectbox__trigger {
    border: none;
}

.certificate__form.reviewwrite__bottsect .jq-selectbox__select-text {
    padding: 18px 0;
}

.jq-selectbox__trigger-arrow {
    display: none;
}

.jq-selectbox__trigger {
    background-image: url('../img/icons/selectarrow.svg');
    background-repeat: no-repeat;
    background-position: center;
}

.jq-selectbox li:hover {
    background-image: url(../img/green-bg.png);
    color: #fff;
}

/* ARTICLE */
.article-mainpic {
    height: 635px;
}

.article-mainpic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 50%;
}

.articlesect__headercontain {
    padding: 66px 20px 138px 0;
    background-image: url(../img/green-bg.png);
    background-repeat: repeat;
    margin-top: -320px;
    z-index: 2;
    position: relative;
}

.breadcrumbs.toleft {
    padding: 0;
    text-align: left;
}

.breadcrumbs ul li {
    font-size: 14px;
    /* color: rgba(255, 255, 255, 0.4); */
}

.breadcrumbs.toleft ul li a {
    font-size: 16px;
}

.breadcrumbs.toleft ul li a img {
    margin-top: -4px;
    display: inline-block;
    vertical-align: middle;
}

.breadcrumbs.toleft ul li {
    margin-right: 37px;
}

.breadcrumbs.toleft ul li:after {
    right: -23px;
}

.breadcrumbs.toleft {
    margin-bottom: 105px;
}

.articlesect__headercontain .titlesect {
    width: 100%;
    max-width: 70%;
    flex: 0 0 70%;
}

.articlesect__headercontain .date {
    width: 100%;
    max-width: 30%;
    flex: 0 0 30%;
}

.articlesect__headercontain .titlesect h1 {
    margin: 0;
    font-weight: 500;
    font-size: 38px;
    line-height: 150%;
    font-family: 'Lora', serif;
    color: #FFFFFF;
}

.articlesect__headercontain .date p {
    margin: 0;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    font-family: 'Lora', serif;
    padding-left: 46px;
    position: relative;
}

.articlesect__headercontain .date p:after {
    content: '';
    width: 20px;
    height: 20px;
    display: inline-block;
    background-image: url('../img/icons/calendar.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.articlesect__headercontain .date p span {
    font-weight: normal;
    font-size: 14px;
}

.articlesect__body {
    padding: 50px 0 125px 0;
}

.articlesect__body ul,
.articlesect__body ol,
.articlesect__body p {
    max-width: 82%;
}

.articlesect__body h1,
.articlesect__body h2,
.articlesect__body h3,
.articlesect__body h4,
.articlesect__body h5,
.articlesect__body h6 {
    font-weight: 500;
    line-height: 160%;
    font-family: 'Lora', serif;
    color: #283E39;
    margin-bottom: 58px;
    max-width: 82%;
}

.articlesect__body h2 {
    font-size: 24px;
}

.articlesect__body h3 {
    font-size: 22px;
}

.articlesect__body h4 {
    font-size: 20px;
}

.articlesect__body h5,
.articlesect__body h6 {
    font-size: 18px;
}

.articlesect__body p {
    line-height: 160%;
    color: #283E39;
    margin-bottom: 30px;
}

.articlesect__body ul,
.articlesect__body ol {
    margin-bottom: 75px;
    padding-left: 60px;
}

.articlesect__body img {
    margin: 77px 0 77px 0;
    display: block;
    width: 100%;
    padding-left: 8%;
}

.articlesect__body ul {
    list-style-type: none;

}

.articlesect__body ul li {
    padding-left: 36px;
    color: #283E39;
}

.articlesect__body ul li,
.articlesect__body ol li {
    margin-bottom: 16px;
    position: relative;
}

.articlesect__body ul li:after {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url('../img/icons/flower.svg');
    background-size: 100%;
    background-position: center;
    position: absolute;
    left: 0;
    top: 1px;
}

.articlesect__body ul li:last-child,
.articlesect__body ol li:last-child {
    margin-bottom: 0;
}

.articlesect__body ol li {
    color: #C79C42;
}

.articlesect__body ol li span {
    padding-left: 15px;
    color: #283E39;
}

.articlesect__body .custombtn {
    margin: 50px auto 0;
    width: 280px;
}

.articlesect__body .custombtn svg {
    margin-right: 15px;
}

.articlesect__body .custombtn:hover {
    color: #fff;
}

.articlesect__body .custombtn {
    transition: .3s;
}

.articlesect__body .custombtn:hover svg path {
    fill: #fff;
}

.akcii.akcii_article {
    padding: 200px 0;
}

.akcii .custombtn:hover {
    color: #fff;
}

.articlesect__body ol li span {
    display: block;
}

.generalmain {
    padding: 70px 0 0 0;
}

.grid-sizer,
.grid-item {
    width: calc(50% - 38px);
    margin: 0;
}

.gutter-sizer {
    width: 76px;
}

.vac-wrapper button {
    padding: 0;
    outline: none;
    outline: none !important;
    box-shadow: none !important;
    font-size: 18px;
    line-height: 160%;
    color: #777777;
    margin-right: 60px;
    position: relative;
}

.vac-wrapper button:last-child {
    margin-right: 0;
}

.vac-wrapper button.active {
    color: #C79C42;
}

.vac-wrapper {
    padding: 50px 0 95px 0;
}

.vac-wrapper .button-group.filter-button-group {
    margin-bottom: 85px;
    position: relative;
}

.vac-wrapper button:after {
    content: '';
    display: inline-block;
    height: 1px;
    width: 100%;
    background: transparent;
    bottom: -12px;
    left: 0;
    position: absolute;
}

.vac-wrapper button.active:after {
    background: #C79C42;
}

.vacancbox {
    position: relative;
    padding: 0 0 14px 14px;
    margin-bottom: 70px;
}

.vacancbox__info {
    background: #F6F5F0;
    padding: 45px 45px 40px 45px;
    position: relative;
    z-index: 2;
}

.vacancbox__info .title {
    font-weight: 500;
    font-size: 26px;
    line-height: 150%;
    color: #283E39;
    font-family: 'Lora', serif;
    height: 77px;
    margin-bottom: 25px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.vacancbox__infodescr p {
    font-size: 18px;
    line-height: 25px;
    color: #777777;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    height: 124px;
    margin-bottom: 70px;
}

.vacancbox__bottsect {
    display: flex;
    align-items: center;
}

.vacancbox__bottsect p {
    margin: 0;
    width: 100%;
    max-width: 50%;
    flex: 0 0 50%;
}

.vacancbox__bottsect .zp {
    text-align: right;
    font-size: 18px;
    line-height: 160%;
    color: #283E39;
    font-family: 'Lora', serif;
}

.vacancbox__bottsect .hotelname {
    position: relative;
    padding-left: 31px;
    color: #C79C42;
    font-size: 18px;
    line-height: 160%;
    font-family: 'Lora', serif;
}

.vacancbox__bottsect .hotelname:after {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url('../img/vacmark.svg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    position: absolute;
    left: 0;
    top: 5px;
}

.vacancbox:after {
    content: '';
    display: block;
    position: absolute;
    width: calc(100% - 14px);
    height: calc(100% - 14px);
    background: #3F5651;
    top: 14px;
    left: 0;
}

.vac-wrapper .pagination {
    margin-top: 30px;
}

.contacts-section.vacancies-form .title {
    margin-bottom: 22px;
}

.contacts-section.vacancies-form .descr {
    text-align: center;
    color: #fff;
    margin-bottom: 70px;
}

.contacts-section.vacancies-form form {
    max-width: 650px;
}

#file {
    display: none;
}

.js-labelFile {
    padding: 0;
    margin: 0;
}

.js-fileName {
    text-transform: uppercase;
    color: #C79C42;
    margin-right: 30px;
}

.sss {
    color: rgba(255, 255, 255, 0.7);
}

.contacts-section.vacancies-form .form-group {
    margin-bottom: 60px;
}

.biggreenbg:after {
    content: '';
    display: block;
    width: 100%;
    height: 740px;
    background-image: url(../img/green-bg.png);
    position: absolute;
    left: 0;
    top: 0;
}

.contus h2 {
    margin-bottom: 23px;
    color: #fff;
    font-weight: 500;
    font-size: 22px;
    line-height: 160%;
    font-family: 'Lora', serif;
}

.contus h3 {
    max-width: 845px;
    margin: 0 auto;
    color: #C8C8C8;
}

.mapsections {
    position: relative;
    z-index: 2;
    padding-bottom: 40px;
}

.mapbox {
    position: relative;
    padding-top: 44px;
    margin-bottom: 70px;
}

.mapbox__pic {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 44px);
    height: 370px;
    z-index: 2;
    overflow: hidden;
}

.mapbox__pic img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 0;
}

.mapbox__info {
    background: #283E39;
    padding: 352px 10px 33px 44px;
    width: calc(100% - 44px);
}

.mapbox__info .title {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 22px;
    line-height: 150%;
    color: #fff;
    font-family: 'Lora', serif;
    margin-bottom: 24px;
}

.mapbox__info ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.mapbox__info ul li {
    margin-bottom: 8px;
    padding-left: 34px;
    position: relative;
    color: #C8C8C8;
    font-size: 18px;
    line-height: 150%;
}

.mapbox__info ul li:last-child {
    margin-bottom: 0;
}

.mapbox__info ul li a {
    transition: .3s;
    color: #C8C8C8;
    font-size: 18px;
    line-height: 150%;
}

.mapbox__info ul li a:hover {
    text-decoration: none;
    color: #C79C42;
}

.mapbox__info ul li:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: inline-block;
    width: 18px;
    height: 18px;
    background-size: 100% 100%;
}

.mapbox__info ul li.contphone:before {
    background-image: url('../img/conttel.svg');
}

.mapbox__info ul li.contmail:before {
    background-image: url('../img/contmail.svg');
}

.mapbox__info ul li.contaddrr:before {
    background-image: url('../img/contmark.svg');
}

.mapbox__pic a {
    width: 220px;
    height: 62px;
    background: #C79C42;
    border: 1px solid #C79C42;
    text-transform: uppercase;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    transition: .3s;
}

.mapbox__pic a:hover {
    text-decoration: none;
    background: #fff;
    color: #C79C42;
}

.footer__up {
    position: fixed;
    bottom: 30px;
    right: 40px;
    display: none;
    z-index: 11;
}

.vac-wrapper.categsort .grid-sizer,
.vac-wrapper.categsort .grid-item {
    width: calc(33% - 16px);
    margin: 0;
}

.vac-wrapper.categsort .gutter-sizer {
    width: 30px;
}

.vac-wrapper.categsort .scrslidebox .picbox {
    height: 288px;
}

.vac-wrapper.categsort .scrslidebox .textbox {
    height: 100px;
}

.vac-wrapper.categsort .scrslidebox {
    overflow: hidden;
    margin-bottom: 100px;
}

.vac-wrapper.categsort .scrslidebox .back .descr {
    max-width: 260px;
    margin: 0 auto;
    height: auto;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

.vac-wrapper.categsort .scrslidebox .back .title {
    margin-bottom: 6px;
    height: auto;
}

.vac-wrapper.categsort .scrslidebox .back a {
    position: absolute;
    right: 30px;
    bottom: 60px;
}

.vac-wrapper.categsort .scrslidebox:hover .back {
    display: flex;
    align-items: center;
    justify-content: center;
}

.vac-wrapper.categsort .flwrapp {
    margin-top: -30px;
}

.vac-wrapper.categsort {
    padding-top: 20px;
}

.bgopacitypic {
    background-image: url('../img/servcatbg.png');
    background-repeat: no-repeat;
    background-position: center 600px;
    background-size: 100% auto;
}

.catlabel {
    position: absolute;
    z-index: 3;
    right: -12px;
    top: -12px;
    width: 121px;
}

.catlabel img {
    width: 100%;
}



















/* font-family: 'Lora', serif;
font-family: 'Nunito', sans-serif; */
.generalmain h1 {
    margin-bottom: 50px;
}

.generalmain h2 {
    margin-bottom: 23px;
}

h1 {
    font-weight: 500;
    font-size: 38px;
    line-height: 150%;
    text-align: center;
    color: #283E39;
    font-family: 'Lora', serif;
}

h2 {
    font-weight: 500;
    font-size: 22px;
    line-height: 160%;
    text-align: center;
    color: #283E39;
    font-family: 'Lora', serif;
}

h3 {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #777777;
    font-weight: normal;
}