@media(min-width:1400px) {
    .container {
        max-width: 1350px;
    }
}

@media(max-width:1800.8px) {
    .header__nav ul li {
        margin-right: 30px;
    }

    .footer__nav ul li {
        margin-right: 25px;
    }

    .pricebox {
        width: 460px;
        height: 385px;
    }



}

@media(max-width:1700.8px) {

    .header__nav ul li a,
    .footer__nav ul li a,
    .header__language>span {
        font-size: 14px;
    }

    .header__nav ul li {
        margin-right: 25px;
    }

    .header__nav {
        padding: 0 30px;
    }

    .footer__nav ul li {
        margin-right: 20px;
    }

    .pricebox {
        width: 440px;
        height: 385px;
    }

    .greypagebg:after {
        height: 800px;
    }
}

@media(max-width:1600.8px) {

    .ournews-slidersect:after {
        width: 240px;
        height: 60px;
        right: 100px;
    }

    .ournews-slidersect .slick-arrow {
        height: 60px;
        width: 106px;
    }

    .ournews-slidersect .slick-next.slick-arrow {
        background-position: center left 15px;
        right: 100px;
    }

    .ournews-slidersect .slick-prev.slick-arrow {
        background-position: center right 15px;
        right: 233px;
    }

    header.header {
        height: 80px;
    }

    .header__logo img {
        max-width: 140px;
    }

    .header__logo,
    .header__phone {
        width: 250px;
    }

    .header__phone a {
        padding: 0;
    }

    main {
        padding-top: 80px;
    }

    .generalmain h1 {
        margin-bottom: 60px;
    }


    .header__language ul {
        top: 50px;
    }

    .visitslider .mainslider__slide,
    .mainscreen {
        height: 1000px;
    }

    .mainscreen__textsect {
        top: 200px;
    }

    .visitslider .slick-arrow {
        top: 270px;
    }

    .visitslider .slick-arrow.slick-prev {
        left: 100px;
    }

    .visitslider .slick-arrow.slick-next {
        right: 100px;
    }

    .custombtn {
        width: 215px;
        height: 50px;
    }

    .genslider .mainslider:after {
        width: 240px;
        height: 60px;
    }

    .genslider .mainslider {
        padding-top: 60px;
    }

    .genslider .mainslider .slick-arrow {
        width: 120px;
        height: 60px;
    }

    .genslider .mainslider .slick-prev.slick-arrow {
        right: 120px;
    }

    .genslider .celebrname {
        left: 16%;
        width: 55%;
        top: 10px;
    }

    .celebrity-luxury {
        margin-top: -415px;
    }

    .genslider .mainslider__slide {
        height: 600px;
    }

    .section-subtitle {
        margin-bottom: 40px;
    }

    .sectleft-descr {
        margin-bottom: 60px;
    }

    .akcii .custombtn {
        width: 260px;
    }

    .scrslidebox .textbox {
        height: 100px;
    }

    .scrslidebox .back .akcii__date {
        margin-bottom: 35px;
    }

    .ourcenters {
        padding: 150px 0 100px;
    }

    .slcont {
        width: 750px;
        height: 580px;
    }

    .slider-centermode .slick-center .slcont .picbox,
    .slider-centermode .slick-slide[aria-hidden="true"]:not([tabindex="-1"])+.slick-cloned[aria-hidden="true"] .slcont .picbox {
        width: 700px;
        height: 450px;
    }

    .slider-centermode__slide .textbox {
        width: 700px;
        height: 450px;
    }

    .textbox__cont .address .name {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .textbox__cont .address .addr {
        font-size: 16px;
        line-height: normal;
        margin: 0;
    }

    .textbox__cont .address {
        padding-right: 10px;
    }

    .textbox__cont a {
        width: 200px;
        height: 44px;
    }

    .textbox__cont {
        padding-bottom: 20px;
    }

    .reviews .review-box .quotepic {
        width: 50px;
        margin-bottom: 15px;
    }

    .reviews .review-text p {
        font-size: 16px;
        line-height: 150%;
    }

    .reviews .review-text {
        height: 185px;
    }

    .reviews .review-box {
        padding: 30px;
    }

    .ournews {
        padding: 100px 0 200px 0;
    }

    .contacts-section input {
        margin-bottom: 50px;
    }

    .footer-wrapper {
        padding: 40px 50px;
    }

    .footer__nav ul li {
        margin-right: 35px;
    }

    .mtmin70 {
        margin-top: -60px;
    }

    .services {
        background-position: center 250px, 0 750px;
        background-size: 350px, 100%;
    }

    .bottservinfo .title {
        font-size: 18px;
    }

    .bottservinfo .custombtn {
        width: 200px;
        height: 46px;
    }

    .servicebox__pic {
        height: 320px;
    }

    .servicebox__descr {
        height: 380px;
    }

    .servicebox {
        margin-bottom: 100px;
    }

    .pricebox {
        width: 400px;
        height: 330px;
        margin-bottom: 40px;
    }

    .precebox__title {
        font-size: 18px;
    }

    .pricebox__descr {
        height: 100px;
    }

    .precebox__btn {
        width: 150px;
    }

    .precebox__title {
        width: calc(100% - 150px);
    }

    .videobox {
        height: 500px;
    }

    #play_button {
        width: 100px;
        height: 100px;
        background-size: 32px;
    }

    .abus-content {
        padding-bottom: 70px;
    }

    .advantbox img {
        max-width: 100px;
    }

    .advantbox__descrbox {
        padding-left: 30px;
    }

    .advantbox__descrbox .title {
        margin-bottom: 15px;
        font-size: 22px;
    }

    .advantbox__descrbox .descr {
        font-size: 16px;
        line-height: normal;
    }

    .abadvantages {
        padding: 70px 0 150px;
    }

    .certificates h1 {
        margin-bottom: 50px;
    }

    .certificates-slider:after {
        width: 240px;
        height: 60px;
    }

    .certificates-slider .slick-arrow {
        height: 60px;
    }

    .certificates-slider .slick-arrow {
        width: 106px;
    }

    .certificates-slider .slick-next.slick-arrow {
        background-position: center left 15px;
    }

    .certificates-slider .slick-prev.slick-arrow {
        background-position: center right 15px;
    }

    .certificates-slidersect {
        padding-bottom: 80px;
    }

    .certificate__form.reviewwrite__bottsect .title {
        font-size: 32px;
        margin-bottom: 40px;
    }

    .certificates {
        padding-bottom: 60px;
    }

    .certificates-slider:after {
        right: 100px;
    }

    .certificates-slider .slick-next.slick-arrow {
        right: 100px;
    }

    .certificates-slider .slick-prev.slick-arrow {
        right: 233px;
    }

    .certificates-slidersect .pagingInfo {
        left: 100px;
    }

    .articlesect__headercontain .date p {
        padding-left: 35px;
    }

    .breadcrumbs.toleft {
        margin-bottom: 70px;
    }

    .articlesect__headercontain {
        padding: 40px 20px 60px 0;
        margin-top: -200px;
    }

    .articlesect__body ul,
    .articlesect__body ol {
        margin-bottom: 45px;
    }

    .articlesect__body img {
        margin: 45px 0;
    }

    .akcii.akcii_article {
        padding: 150px 0;
    }

    .vac-wrapper .button-group.filter-button-group {
        margin-bottom: 45px;
    }

    .vacancbox__infodescr p {
        font-size: 16px;
    }

    .mapbox__info .title {
        font-size: 20px;
        margin-bottom: 15px;
    }

    .footer__up a {
        display: flex;
        width: 45px;
        height: 45px;
    }

    .footer__up a svg {
        width: 15px;
    }

    .vac-wrapper.categsort {
        padding-top: 50px;
    }

    .vac-wrapper.categsort .scrslidebox {
        margin-bottom: 50px;
    }
    .articlesect.service .fromtext, .articlesect.service .fromtext a {
        font-size: 16px;
    }

    .articlesect.service h2 {
        margin-bottom: 40px;
    }

    .services.price.servsect {
        padding: 100px 0 80px;
    }
    .articlesect__body.service-littsect {
        padding: 70px 0;
    }

    .ournews.servsect {
        padding: 70px 0 100px;
    }

    .errorsection {
        height: calc(100vh - 138px);
    }

    .header__nav {
        width: calc(100% - 500px);
    }

    .errorsection__textbox.thanks .descr {
        margin-bottom: 50px;
    }




    .mainscreen__textsect h1 {
        font-size: 56px;
    }

    .section-title,
    .contacts-section .title {
        font-size: 32px;
    }

    .mainscreen__textsect p {
        font-size: 18px;
    }

    .mapbox__info ul li a,
    .mapbox__info ul li {
        font-size: 16px;
    }

    .breadcrumbs.toleft ul li,
    .breadcrumbs.toleft ul li a {
        font-size: 14px;
    }

    .celebrity-luxury .spaceleft-container {
        padding-top: 70px;
    }

    .akcii {
        padding: 200px 0;
    }

    .reviews {
        padding: 100px 0;
    }

    .articlesect__body ul li,
    .articlesect__body ol li {
        margin-bottom: 10px;
    }

    .ourcenters .subtitle,
    .ournews .subtitle,
    .articlesect__body p {
        margin-bottom: 20px;
    }

    .footer__social .phone,
    .services-subtitle {
        margin-bottom: 30px;
    }

    .articlesect__body h1,
    .articlesect__body h2,
    .articlesect__body h3,
    .articlesect__body h4,
    .articlesect__body h5,
    .articlesect__body h6 {
        margin-bottom: 40px;
    }

    .ourcenters .descr,
    .ournews .descr,
    .contacts-section .title {
        margin-bottom: 60px;
    }

    .services__title,
    .services__descr,
    .videobox,
    .abus-content__descrit,
    .advantbox {
        margin-bottom: 50px;
    }


}

@media(max-width:1500.8px) {
    .pricebox {
        width: 31%;
    }
}

@media(max-width:1400.8px) {
    .header__logo img {
        max-width: 120px;
    }

    .header__logo,
    .header__phone {
        width: 220px;
    }

    .header__nav {
        padding: 0 30px;
    }

    .header__nav ul li {
        margin-right: 25px;
    }

    .header__language>span:after {
        top: 2px;
    }

    .visitslider .mainslider__slide,
    .mainscreen {
        height: 900px;
    }

    .mainscreen__textsect {
        top: 150px;
    }

    .visitslider .slick-arrow {
        top: 200px;
    }

    .visitslider .slick-arrow.slick-next {
        right: 50px;
    }

    .visitslider .slick-arrow.slick-prev {
        left: 50px;
    }

    .genslider .mainslider__slide {
        height: 500px;
    }

    .scrollbar {
        width: 722px;
    }

    .celebrity-luxury {
        margin-top: -380px;
    }

    .ournews {
        padding: 70px 0 150px 0;
    }

    .footer__nav {
        padding: 0 20px;
    }

    .footer__nav ul li {
        margin-right: 18px;
    }

    .footer__social ul {
        max-width: 155px;
    }

    .footer__up a {
        width: 45px;
        height: 45px;
    }

    .footer__up a svg {
        width: 16px;
    }

    .header__nav {
        width: calc(100% - 440px);
    }

    .header__nav nav {
        width: calc(100% - 100px);
    }

    .reviewwrite__topsect .title {
        font-size: 22px;
    }

    .reviewwrite__bottsect>p.title {
        margin-bottom: 70px;
    }

    .priceboxes {
        padding: 0 40px;
    }

    .precebox__btn {
        width: 120px;
    }

    .precebox__title {
        width: calc(100% - 120px);
    }

    .discount .scrslidebox .picbox {
        height: 275px;
    }

    .discount .scrslidebox .back .akcii__date {
        margin-bottom: 25px;
    }

    .discount .scrslidebox .back .descr {
        height: 92px;
    }

    .pagination ul li {
        margin: 0 10px;
    }

    .article-mainpic {
        height: 480px;
    }

    .vac-wrapper {
        padding: 20px 0 45px 0;
    }

    .vac-wrapper button {
        margin-right: 30px;
        font-size: 16px;
    }

    .vacancbox__info {
        padding: 30px;
    }

    .grid-sizer,
    .grid-item {
        width: calc(50% - 15px);
    }

    .gutter-sizer {
        width: 30px;
    }

    .vacancbox__bottsect .hotelname {
        max-width: 60%;
        flex: 0 0 60%;
    }

    .vacancbox__bottsect .zp {
        max-width: 40%;
        flex: 0 0 40%;
    }

    .vacancbox {
        margin-bottom: 40px;
    }

    .vac-wrapper.categsort {
        padding-top: 20px;
    }

    .articlesect.service .articlesect__headercontain .titlesect h1 {
        margin-bottom: 35px;
    }

    .services.price.servsect {
        padding-bottom: 50px;
    }






    .header__phone a,
    .header__nav ul li a,
    .header__language>span,
    .footer__nav ul li a,
    .footer__social .phone,
    .footer__botttext p {
        font-size: 14px;
    }

    .scrslidebox .textbox p {
        font-size: 16px;
    }

    .akcii {
        padding: 150px 0;
    }

    .genslsect-container {
        padding-top: 70px;
    }

    .ourcenters {
        padding-bottom: 70px;
    }

    .reviews,
    .contacts-section {
        padding: 70px 0;
    }

}

@media(max-width:1199.8px) {

    .header__nav {
        display: none;
    }

    header.header {
        height: 70px;
    }

    main {
        padding-top: 70px;
    }

    .burgerbtn {
        display: flex;
        width: 70px;
        height: 70px;
        background-color: #C79C42;
        align-items: center;
        justify-content: center;
        max-width: 70px;
        width: 100%;
    }

    .burgerbtn img {
        width: 32px;
    }

    .header__wrap {
        justify-content: space-between;
    }

    .visitslider .mainslider__slide,
    .mainscreen {
        height: 800px;
    }

    .mousescroll {
        display: none;
    }

    .celebrity-luxury {
        margin-top: -300px;
    }

    .visitslider .slick-arrow {
        width: 45px;
        height: 20px;
    }

    .frame ul li {
        width: 280px;
    }

    .scrslidebox .picbox {
        height: 245px;
    }

    .akcii__date {
        left: 15px;
        top: 15px;
    }

    .scrslidebox .textbox {
        height: 80px;
    }

    .scrollbar {
        width: 600px;
    }

    .section-subtitle {
        padding-left: 30px;
    }

    .section-subtitle:before {
        width: 17px;
    }

    .scrslidebox .back {
        padding: 15px 15px 20px 15px;
    }

    .scrslidebox .back .akcii__date {
        margin-bottom: 20px;
    }

    .scrslidebox .back .title {
        font-size: 16px;
        margin-bottom: 15px;
    }

    .scrslidebox .back .descr {
        height: 85px;
    }

    .reviews .review-box .quotepic {
        width: 40px;
    }

    .review-userbox .review-userbox__pic {
        height: 45px;
        max-width: 45px;
    }

    .review-userbox__descr .name {
        font-size: 14px;
        line-height: normal;
        min-height: 38px;
        display: flex;
        align-items: flex-end;
    }

    .reviews .review-text {
        height: 155px;
    }

    .ournews .scrslidebox .textbox {
        height: 80px;
    }

    .ournews .scrslidebox .picbox {
        height: 250px;
    }

    .ournews .scrslidebox .back {
        padding: 15px 32px 20px 20px;
    }

    .ournews .scrslidebox .back .akcii__date {
        margin-bottom: 20px;
    }

    .ournews .scrslidebox .back .descr {
        height: 110px;
    }

    .header__nav {
        display: block;
        background-image: url(../img/green-bg.png);
        position: fixed;
        height: 100vh;
        width: 100%;
        transform: translateX(-100%);
        transition: .5s;
        z-index: 2;
    }

    .header__nav.show {
        transform: translateX(0);
    }

    .mobclose {
        display: inline-block;
        position: absolute;
        right: 20px;
        top: 20px;
        background: transparent;
        padding: 0;
        border: none;
    }

    .header__nav nav {
        padding: 70px 50px;
    }

    .header__nav ul li {
        display: block;
        margin: 0 0 20px 0;
        text-align: center;
    }

    .header__nav ul li a {
        display: inline-block;
        font-size: 20px;
    }

    .header__language {
        display: none;
    }

    .header__language-mob {
        display: block;
        text-align: center;
        position: relative;
        z-index: 2;
    }

    .header__language-mob ul li {
        display: inline-block;
        margin: 0 10px;
    }

    .mobmenupic {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: 40px;
        opacity: .6;
        animation: loganim 3s ease-out;
        animation-iteration-count: infinite;
    }

    .header__nav nav {
        width: 100%;
        position: relative;
        z-index: 3;
    }

    .header__phone {
        width: 290px;
    }

    .header__phone a {
        border-right: 2px solid #3b504b;
    }

    .servicebox__pic {
        height: 250px;
        width: calc(100% - 20px);
    }

    .servicebox__descr {
        width: calc(100% - 20px);
        top: 20px;
        height: 320px;
        padding: 20px;
    }

    .bottservinfo .custombtn {
        font-size: 14px;
        width: 180px;
        height: 42px;
    }

    .bottservinfo .title {
        width: calc(100% - 180px);
        padding-right: 5px;
    }

    .bottservinfo {
        min-height: 54px;
    }

    .servicebox {
        margin-bottom: 50px;
    }

    .services {
        background-position: center 250px, 0 650px;
    }

    .priceboxes {
        flex-wrap: wrap;
        max-width: 960px;
        margin: 0 auto;
    }

    .pricebox {
        width: 100%;
        height: 400px;
    }

    .videobox {
        height: 400px;
    }

    .discount-boxes .scrslidebox {
        margin-bottom: 50px;
    }

    .mapsections {
        padding-bottom: 0;
    }

    .footer__up {
        right: 20px;
        bottom: 20px;
    }

    .vac-wrapper.categsort .grid-sizer,
    .vac-wrapper.categsort .grid-item {
        width: calc(33% - 17px);
    }

    .articlesect__body {
        padding-bottom: 70px;
    }

    .errorsection {
        height: calc(100vh - 128px);
    }

    .akcii {
        margin-top: 0;
    }








    .vacancbox__bottsect .hotelname,
    .vacancbox__bottsect .zp {
        font-size: 16px;
    }

    .section-title,
    .contacts-section .title {
        font-size: 24px;
    }

    .akcii__date span,
    .precebox__title {
        font-size: 22px;
    }

    .scrslidebox .back .descr p,
    .scrslidebox .back a,
    .reviews .review-text p {

        font-size: 14px;
    }

    .section-subtitle {
        margin-bottom: 20px;
    }


}

@media(max-width:1024.8px) {

    .slcont {
        width: 650px;
        height: 500px;
    }

    .slider-centermode .slick-center .slcont .picbox,
    .slider-centermode .slick-slide[aria-hidden="true"]:not([tabindex="-1"])+.slick-cloned[aria-hidden="true"] .slcont .picbox {
        width: 620px;
        height: 380px;
    }

    .slider-centermode__slide .textbox {
        width: 570px;
        height: 380px;
    }

    .textbox__cont a {
        font-size: 14px;
    }

    .textbox__cont a {
        width: 160px;
        height: 40px;
    }

    .textbox__cont .address {
        width: calc(100% - 160px);
    }

    .textbox__cont .address .addr {
        padding-left: 20px;
    }

    .ourcenters .slick-arrow.slick-next {
        right: 9%;
    }

    .ourcenters .slick-arrow.slick-prev {
        left: 9%;
    }

    .header__nav {
        overflow: auto;
        padding-bottom: 50px;
        z-index: 3;
    }

    .rate:not(:checked)>label {
        width: 45px;
        height: 45px;
    }

    .akcii.akcii_article {
        padding: 100px 0;
    }

   

    .textbox__cont .address .addr {
        font-size: 14px;
    }
}

@media(max-width:991.8px) {

    .ournews-slidersect {
        padding-top: 85px;
    }
    .ournews-slidersect:after {
        width: 180px;
        height: 50px;
        right: 50px;
    }

    .ournews-slidersect .slick-prev.slick-arrow {
        right: 139px;
    }

    .ournews-slidersect .slick-next.slick-arrow {
        right: 50px;
    }

    .ournews-slidersect .slick-arrow {
        height: 50px;
        width: 90px;
    }

    .mainscreen__textsect h1 {
        font-size: 42px;
    }

    .genslider .mainslider:after {
        width: 180px;
        height: 50px;
    }

    .genslider .celebrname {
        display: none;
    }

    .genslider .mainslider .slick-arrow {
        width: 90px;
        height: 50px;
    }

    .genslider .mainslider .slick-prev.slick-arrow {
        right: 90px;
    }

    .genslider .mainslider .slick-next.slick-arrow {
        background-position: center left 20px;
    }

    .genslider .mainslider .slick-prev.slick-arrow {
        background-position: center right 20px;
    }

    .genslider .pagingInfo {
        height: 50px;
        font-size: 16px;
    }

    .genslider .mainslider__slide {
        height: 400px;
    }

    .scrollbar {
        width: 385px;
    }

    .akcii {
        padding-bottom: 100px;
    }

    .akcii .custombtn {
        max-width: 100%;
    }

    .ourcenters .subtitle span {
        padding-left: 30px;
    }

    .ourcenters .subtitle span:after {
        width: 20px;
    }

    .ourcenters .subtitle,
    .ournews .subtitle {
        margin-bottom: 10px;
    }

    .ourcenters .title,
    .ournews .title {
        margin-bottom: 20px;
        font-size: 32px;
    }

    .ourcenters .descr {
        margin-bottom: 40px;
    }

    .textbox__cont {
        padding: 0 30px 10px;
    }

    .textbox__cont .address {
        width: calc(100% - 220px);
    }

    .reviews .row,
    .akcii .row {
        flex-wrap: wrap;
    }

    .sectleft-descr,
    .akcii .section-title {
        max-width: 100%;
    }

    .reviews .col-lg-8,
    .akcii .col-lg-8 {
        max-width: 100% !important;
    }

    .reviews .scrollbar {
        width: 100%;
    }

    .frame ul li {
        padding: 0 5px;
        width: 235px;
    }

    .scroll-slider {
        margin-top: 50px;
    }

    .scrollbar {
        width: 100%;
    }

    .section-infosect .descr {
        margin-bottom: 30px;
    }

    .sectleft-descr {
        margin-bottom: 30px;
    }

    .reviews .sectleft-descr {
        margin-bottom: 0;
    }

    .ournews {
        padding: 50px 0 130px 0;
    }

    .ournews .descr {
        margin-bottom: 40px;
    }

    .ourcenters .subtitle span,
    .ournews .subtitle span {
        padding-left: 30px;
    }

    .ournews .subtitle span:after {
        width: 20px;
    }

    .contacts-section input {
        margin-bottom: 25px;
        height: 40px;
    }

    .contacts-section textarea {
        margin-bottom: 40px;
    }

    .contacts-section button {
        font-size: 14px;
        width: 200px;
        height: 44px;
    }

    .footer__logo {
        max-width: 130px;
    }

    .footer-wrapper {
        padding: 30px 20px;
    }

    .footer__nav ul li {
        margin-bottom: 10px;
    }

    .footer__social .phone {
        margin-bottom: 10px;
    }

    .footer__social {
        max-width: 190px;
    }

    .footer__nav {
        padding-left: 30px;
    }

    .mtmin70 {
        margin-top: -50px;
    }

    .slider-section {
        padding: 50px 0;
    }

    .footer-wrapper {
        flex-wrap: wrap;
    }

    .footer__logo {
        max-width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }

    .footer .header__language {
        display: none;

    }

    .footer__nav {
        padding: 0;
        margin-bottom: 30px;
    }

    .header__nav nav {
        padding-top: 100px;
    }

    .header__nav ul li a {
        font-size: 18px;
    }

    .reviewwrite__bottsect>p.title {
        margin-bottom: 50px;
    }

    .reviewwrite__bottsect form input,
    .reviewwrite__bottsect form textarea {
        height: 50px;
        margin-bottom: 35px;
    }

    .reviewwrite__bottsect form .justify-content-end {
        justify-content: flex-start !important;
    }

    .ratebtn {
        margin-bottom: 30px;
    }

    .servicebox__pic {
        height: 350px;
    }

    .servicebox__descr {
        height: 425px;
    }

    .services {
        background: url(../img/servbg1.png);
        background-repeat: no-repeat;
        background-size: 300px;
        background-position: center top 200px;
    }

    .breadcrumbs {
        padding-top: 40px;
    }

    .services {
        padding-top: 40px;
    }

    .priceboxes {
        max-width: 720px;
    }

    .pricebox {
        height: 350px;
    }

    .services.price .services__descr {
        margin-bottom: 60px;
    }

    .abus-content {
        padding-top: 40px;
    }

    .abadvantages {
        padding: 70px 0;
    }

    .abus-content__descrit {
        font-size: 16px;
    }

    .discount-boxes .col-md-4 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }

    .discount .services__descr {
        margin-bottom: 50px;
    }

    .pagination ul li {
        margin: 0px 5px;
    }

    .pagination ul li:first-child {
        margin-right: 30px;
    }

    .pagination ul li:last-child {
        margin-left: 30px;
    }

    .discount {
        padding: 40px 0 50px;
    }

    .section-title,
    .contacts-section .title {
        font-size: 30px;
    }

    .mainscreen__textsect p {
        font-size: 16px;
    }

    .certificates-slider:after {
        width: 180px;
        height: 50px;
    }

    .certificates-slider .slick-arrow {
        height: 50px;
    }

    .certificates-slider:after {
        right: 50px;
    }


    .certificates-slidersect .pagingInfo {
        left: 50px;
        font-size: 16px;
        height: 50px;
    }

    .certificates-slider .slick-next.slick-arrow {
        right: 50px;
    }

    .certificates-slider .slick-arrow {
        width: 90px;
    }

    .certificates-slider .slick-prev.slick-arrow {
        right: 139px;
    }

    .certificates h1 {
        margin-bottom: 40px;
    }

    .articlesect__headercontain .titlesect {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .articlesect__headercontain .date {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .articlesect__headercontain .titlesect h1 {
        margin-bottom: 20px;
    }

    .articlesect__headercontain {
        padding: 40px 20px 40px 0;
    }

    .gutter-sizer {
        width: 0;
    }

    .grid-sizer,
    .grid-item {
        width: 100%;
    }

    .vac-wrapper button {
        margin-bottom: 20px;
    }

    .vac-wrapper button:after {
        bottom: -6px;
    }

    .vacancbox__infodescr p {
        margin-bottom: 40px;
    }

    .generalmain {
        padding-top: 40px;
    }

    .vac-wrapper .button-group.filter-button-group {
        margin-bottom: 20px;
    }

    .generalmain h1 {
        margin-bottom: 30px;
    }

    .vac-wrapper.categsort .grid-sizer,
    .vac-wrapper.categsort .grid-item {
        width: calc(50% - 15px);
    }

    .vac-wrapper.categsort .gutter-sizer {
        width: 30px;
    }

    .certificates-slidersect.service {
        padding-bottom: 40px;
    }

    .articlesect__body ul {
        padding-left: 50px;
    }

    .articlesect__body ol {
        padding-left: 80px;
    }

    .articlesect__body.service .videobox {
        width: 100%;
        margin-bottom: 40px;
    }

    .slider-section.mtmin70
     {
        margin-top: 0;
    }









    .celebrity-luxury .spaceleft-container,
    .genslider .mainslider,
    .genslsect-container {
        padding-top: 50px;
    }

    .ourcenters {
        padding-bottom: 50px;
    }

    .celebrity-luxury .spaceleft-container,
    .genslsect-container {
        padding-right: 30px;
    }



    .genslider {
        margin-top: 50px;
    }

    .section-title,
    .contacts-section .title,
    .akcii .section-title {
        margin-bottom: 20px;
    }

    .services__title,
    .services__descr {
        margin-bottom: 30px;
    }

    .reviews,
    .contacts-section {
        padding: 50px 0;
    }

}

@media(max-width:767.8px) {
    .container {
        max-width: 100%;
    }

    .visitslider .mainslider__slide,
    .mainscreen {
        height: 600px;
    }

    .mainscreen__textsect,
    .visitslider .slick-arrow {
        top: 50%;
        transform: translateY(-50%);
    }

    .mainscreen__textsect {
        max-width: 400px;
        margin: 0 auto;
    }

    .mainscreen__textsect h1 {
        line-height: normal;
    }

    .header__logo {
        width: 160px;
    }

    .header__logo img {
        max-width: 105px;
    }

    header.header {
        height: 60px;
    }

    main {
        padding-top: 60px;
    }

    .burgerbtn {
        height: 60px;
        max-width: 60px;
    }

    .header__phone {
        width: 260px;
    }

    .burgerbtn img {
        width: 28px;
    }

    .genslider .mainslider__slide {
        height: 320px;
    }

    .frame ul {
        margin-left: 0;
        margin-right: 0;
    }

    .scrollbar {
        margin-bottom: 35px;
    }

    .section-title {
        max-width: 100%;
    }

    .visitslider .slick-arrow.slick-next {
        right: 30px;
    }

    .visitslider .slick-arrow.slick-prev {
        left: 30px;
    }

    .slider-centermode .slick-center .slcont .picbox,
    .slider-centermode .slick-slide[aria-hidden="true"]:not([tabindex="-1"])+.slick-cloned[aria-hidden="true"] .slcont .picbox,
    .slider-centermode__slide .textbox {
        width: 100%;
        position: relative;
    }

    .textbox__cont {
        padding: 20px;
    }

    .ourcenters .slick-arrow.slick-next {
        right: 5px;
    }

    .ourcenters .slick-arrow.slick-prev {
        left: 5px;
    }

    .slcont {
        width: 85%;
        height: auto;
    }

    .slider-centermode__slide .textbox {
        height: auto;
    }

    .textbox__cont {
        position: relative;
        flex-wrap: wrap;
    }

    .textbox__cont .address {
        width: 100%;
        margin-bottom: 25px;
    }

    .slider-centermode .slick-slide,
    .slider-centermode .slick-slide[aria-hidden="true"]:not(.slick-cloned)~.slick-cloned[aria-hidden="true"] {
        transform: scale(1);
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -ms-transform: scale(1);
        -o-transform: scale(1);
    }

    .slider-centermode .slick-slide .textbox,
    .slider-centermode .slick-slide[aria-hidden="true"]:not(.slick-cloned)~.slick-cloned[aria-hidden="true"] .textbox {
        opacity: 1;
    }

    .slider-centermode__slide .picbox {
        position: relative;
    }

    .slider-centermode__slide .picbox {
        height: 380px;
    }

    .ourcenters .slick-arrow {
        z-index: 2;
    }

    .reviews .col-lg-8,
    .akcii .col-lg-8 {
        padding-right: 0;
    }

    .scrollbar {
        width: calc(100% - 15px);
    }

    .ournews {
        padding-bottom: 70px;
    }

    .footer__nav {
        display: none;
    }

    .priceboxes {
        max-width: 100%;
        padding: 0 15px;
    }

    .pricebox_pic {
        width: calc(100% - 10px);
        height: calc(100% - 10px);
    }

    .pricebox__descr {
        width: calc(100% - 10px);
    }

    .precebox__title {
        font-size: 18px;
    }

    .pricebox {
        height: 300px;
    }

    .services.price {
        padding-bottom: 30px;
    }

    .precebox__btn {
        width: 100px;
    }

    .precebox__title {
        width: calc(100% - 100px);
    }

    .videobox {
        height: 300px;
    }

    .articlesect__body ul,
    .articlesect__body ol,
    .articlesect__body p {
        max-width: 100%;
    }

    .mobclose {
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 22;
    }

    .articlesect__body {
        padding-bottom: 70px;
    }

    .akcii.akcii_article {
        padding-top: 70px;
    }

    .articlesect__body img {
        padding: 0;
    }

    .footer__social ul {
        margin: 0 auto;
    }

    .footer__social {
        max-width: 100%;
        text-align: center;
    }

    .errorsection {
        height: calc(100vh - 118px);
    }












    .akcii,
    .ourcenters {
        padding: 70px 0;
    }

    .genslsect-container {
        padding-top: 70px;
    }

    .akcii,
    .mtmin70,
    .ourcenters {
        margin-top: 0;
    }

    .celebrity-luxury .spaceleft-container,
    .genslsect-container {
        padding-left: 15px !important;
        padding-right: 15px !important;
    }


    .celebrity-luxury,
    .genslsect {
        padding-right: 0 !important;
    }

    .celebrity-luxury {
        margin-top: 0;
    }

    .reviews .scrollbar {
        width: calc(100% - 15px);
    }

}

@media(max-width:575.8px) {
    .ournews-slidersect {
        padding-top: 70px;
    }

    .ournews-slidersect:after {
       right: 15px;
    }

    .ournews-slidersect .slick-prev.slick-arrow {
        right: 104px;
    }

    .ournews-slidersect .slick-next.slick-arrow {
        right: 15px;
    }

    .visitslider .mainslider__slide,
    .mainscreen {
        height: 450px;
    }

    .mainscreen__textsect h1 {
        font-size: 32px;
    }

    .mainscreen__textsect {
        max-width: 300px;
        margin: 0 auto;
    }

    .visitslider .slick-arrow.slick-next {
        right: 5px;
    }

    .visitslider .slick-arrow.slick-prev {
        left: 5px;
    }

    .slider-centermode .slick-center .slcont .picbox,
    .slider-centermode .slick-slide[aria-hidden="true"]:not([tabindex="-1"])+.slick-cloned[aria-hidden="true"] .slcont .picbox,
    .slider-centermode__slide .picbox {
        height: 270px;
    }

    .ournews .ournews-slider__slide {
        padding: 0 5px;
    }

    .header__nav ul li {
        margin-bottom: 15px;
    }

    .header__nav nav {
        padding-left: 0;
        padding-right: 0;
    }

    .reviewwrite {
        padding-top: 40px;
    }

    .reviewwrite__topsect .title {
        margin-bottom: 15px;
    }

    .ratebtn {
        display: block;
    }

    .ratebtn p {
        width: 100%;
        font-size: 18px;
        margin-bottom: 15px;
    }

    .rateb {
        justify-content: flex-end;
        display: flex;
    }

    .reviewwrite__bottsect form input,
    .reviewwrite__bottsect form textarea {
        margin-bottom: 20px;
    }

    .header__logo {
        width: 140px;
    }

    .header__phone {
        width: calc(100% - 140px);
        max-width: 290px;
    }

    .services-subtitle span {
        padding-left: 40px;
    }

    .services {
        padding-top: 50px;
    }

    .servicebox__descr {
        height: 335px;
    }

    .servicebox__pic {
        height: 240px;
    }

    .bottservinfo {
        display: block;
    }

    .bottservinfo .title {
        width: 100%;
        margin-bottom: 15px;
    }

    .servicebox {
        margin-bottom: 30px;
    }

    .bottservinfo .title {
        font-size: 16px;
    }

    .breadcrumbs {
        padding-top: 20px;
    }

    .breadcrumbs ul li {
        margin-right: 30px;
    }

    .breadcrumbs ul li:after {
        right: -20px;
    }

    .services {
        padding-top: 30px;
    }

    .videobox {
        height: 250px;
        margin-bottom: 30px;
    }

    .advantbox {
        flex-wrap: wrap;
    }

    .advantbox__descrbox {
        max-width: 100%;
        text-align: center;
        padding: 0;
    }

    .advantbox img {
        margin: 0 auto 20px;
    }

    .pricebox__descr {
        height: 90px;
    }

    .discount-boxes .col-md-4 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .discount {
        background-image: none;
    }

    .pagination ul li a {
        width: 35px;
        height: 35px;
        font-size: 18px;
    }

    .pagination ul li a img {
        max-width: 100%;
    }

    .pagination ul li:last-child {
        margin-left: 10px;
    }

    .pagination ul li:first-child {
        margin-right: 10px;
    }

    .pagination ul li {
        margin: 0px 2px;
    }

    .certificates {
        padding-top: 40px;
    }

    .greypagebg:after {
        display: none;
    }

    .certificates-slider:after {
        right: 15px;
    }

    .certificates-slidersect .pagingInfo {
        left: 15px;
    }

    .certificates-slider .slick-next.slick-arrow {
        right: 15px;
    }

    .certificates-slider .slick-prev.slick-arrow {
        right: 104px;
    }

    .certificates-slidersect {
        padding-bottom: 30px;
    }

    .certificate__form.reviewwrite__bottsect .title {
        font-size: 22px;
        margin-bottom: 20px;
    }

    .certificate__form.reviewwrite__bottsect .jq-selectbox {
        margin-bottom: 20px;
    }

    .certificate__form.reviewwrite__bottsect {
        padding-bottom: 50px;
    }

    .articlesect__headercontain .titlesect h1 {
        line-height: normal;
        font-size: 32px;
    }

    .articlesect__headercontain {
        padding: 30px 20px 30px 0;
    }

    .breadcrumbs.toleft {
        margin-bottom: 40px;
    }

    .articlesect__body h1,
    .articlesect__body h2,
    .articlesect__body h3,
    .articlesect__body h4,
    .articlesect__body h5,
    .articlesect__body h6,
    .articlesect__body ul,
    .articlesect__body ol {
        margin-bottom: 30px;
    }

    .articlesect__body ul {
        padding-left: 0;
    }
    .articlesect__body ol {
        padding-left: 20px;
    }

    .vac-wrapper button {
        margin-right: 0;
        padding: 0 20px;
    }

    .vac-wrapper .button-group.filter-button-group {
        text-align: center;
    }

    .vacancbox__info .title {
        font-size: 22px;
        height: auto;
    }

    .vacancbox__infodescr p {
        height: auto;
    }

    .vacancbox__bottsect {
        flex-wrap: wrap;
    }

    .vacancbox__bottsect .hotelname,
    .vacancbox__bottsect .zp {
        max-width: 100%;
        flex: 0 0 100%;
    }

    .vacancbox__bottsect .zp {
        text-align: left;
        padding-left: 20px;
    }

    .vacancbox__bottsect .hotelname {
        padding-left: 20px;
    }

    .vacancbox {
        margin-bottom: 30px;
    }

    .mapbox__pic {
        width: calc(100% - 14px);
    }

    .mapbox__info {
        width: calc(100% - 14px);
        padding-left: 14px;
    }

    .mapbox__pic a {
        width: 180px;
        height: 54px;
    }

    .mapbox__pic {
        height: 300px;
    }

    .mapbox__info {
        padding-top: 280px;
    }

    .mapbox {
        margin-bottom: 40px;
    }

    .mapbox__info ul li a {
        display: inline-block;
    }

    .footer__up {
        right: 0;
        bottom: 25px;
    }

    .js-fileName {
        margin-right: 10px;
        font-size: 14px;
    }

    .js-fileName img {
        width: 20px;
    }

    .sss {
        font-size: 12px;
    }

    .generalmain h1 {
        font-size: 32px;
    }

    .vac-wrapper.categsort .grid-sizer,
    .vac-wrapper.categsort .grid-item {
        width: 100%;
    }

    .vac-wrapper.categsort .gutter-sizer {
        width: 0;
    }

    .vac-wrapper.categsort .scrslidebox .back a {
        position: absolute;
        right: 30px;
        bottom: 40px;
        font-size: 16px;
    }

    .vac-wrapper.categsort .scrslidebox .back .descr p {
        font-size: 16px;
    }

    .vac-wrapper.categsort .scrslidebox .back .title {
        font-size: 18px;
    }

    .vac-wrapper.categsort .flwrapp {
        margin-top: -10px;
    }

    .articlesect.service .articlesect__headercontain {
        padding-bottom: 30px;
    }

    .articlesect.service h2 {
        margin-bottom: 30px;
    }
    
    .certificates-slidersect.service .certificates-slider {
        padding-top: 85px;
    }

    .services.price.servsect {
        padding: 50px 0;
    }

    .ournews.servsect {
        padding: 50px 0 70px;
    }


    .ournews.servsect .ournews-slider__slide {
        padding: 0 10px;
    }

    .errorsection .title {
        font-size: 30px;
    }

    .errorsection .subtitle {
        margin-bottom: 15px;
    }
    
    .errorsection .subtitle span {
        padding-left: 42px;
    }

    .errorsection .descr {
        margin-bottom: 50px;
    }

    .errorsection .linksbox {
        max-width: 260px;
    }





    .reviews .section-title {
        margin-bottom: 20px;
    }

    .genslsect-container {
        padding-top: 50px;
    }

    .akcii,
    .ourcenters,
    .ournews,
    .abus-content,
    .abadvantages {
        padding: 50px 0;
    }

    .section-title,
    .contacts-section .title,
    .ourcenters .title,
    .ournews .title {
        font-size: 26px;
    }

    .services__title {
        font-size: 32px;
    }

    .services__descr p.title {
        font-size: 18px;
    }

    .mainscreen__textsect p {
        font-size: 14px;
    }

}

@media(max-width:360.8px) {
    .textbox__cont {
        padding: 20px 10px;
    }

    .burgerbtn {
        max-width: 50px;
    }

    .header__phone a span {
        display: none;
    }

    .header__phone {
        width: auto;
    }

    .header__phone {
        width: 120px;
    }

    .burgerbtn {
        max-width: 60px;
    }
}